CALLBACK_URL=https://api.queens-academy.net/callback
RETURN_URL=https://queens-academy.net/thankyou
TRIPAY_API_KEY=isi_dari_tripay
GOOGLE_SHEET_WEBHOOK=https://script.google.com/macros/s/AKfycbx08glZ9QHc6XFVQCh8bJyq6w0jEIY8f1pMMJk5JmA-N9x6smbjmFGBW4NS0_YWIUq6/exec
WHACENTER_DEVICE=7359a78750d120b19c13843bc2d5565c
